# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
M/M/.vs/M/v16/Browse.VC.db
M/M/.vs/M/v16/Browse.VC.db-shm
M/M/.vs/M/v16/Browse.VC.db-wal
M/M/.vs/M/v16/Browse.VC.opendb
M/M/.vs/M/v16/ipch/AutoPCH/3fc8344f7b7439b/GAMESTATE.ipch
M/M/.vs/M/v16/ipch/AutoPCH/c95254fad8c8cfe4/GAMESTATE.ipch
M/M/.vs/M/v16/ipch/AutoPCH/d712d9c7f2676ed4/WINMAIN.ipch
M/M/.vs/M/v16/Solution.VC.db
M/M/.vs/M/v16/Solution.VC.db-shm
M/M/.vs/M/v16/Solution.VC.db-wal
M/M/x64/Debug/08_HelloSimpleDraw.pdb
M/M/x64/Debug/Core.idb
M/M/x64/Debug/Core.pdb
M/M/x64/Debug/Graphics.idb
M/M/x64/Debug/Graphics.pdb
M/M/x64/Debug/HelloShapes.pdb
M/M/x64/Debug/ImGui.idb
M/M/x64/Debug/ImGui.pdb
M/M/x64/Debug/Input.idb
M/M/x64/Debug/Input.pdb
M/M/x64/Debug/M.idb
M/M/x64/Debug/M.pdb
M/M/x64/Debug/Math.idb
M/M/x64/Debug/Math.pdb
M/VGP242/HelloShapes/x64/Debug/HelloShapes.exe.recipe
M/VGP242/HelloShapes/x64/Debug/HelloShapes.ilk
M/VGP242/HelloShapes/x64/Debug/HelloShapes.log
M/VGP242/HelloShapes/x64/Debug/HelloShapes.tlog/CL.command.1.tlog
M/VGP242/HelloShapes/x64/Debug/HelloShapes.tlog/CL.read.1.tlog
M/VGP242/HelloShapes/x64/Debug/HelloShapes.tlog/CL.write.1.tlog
M/VGP242/HelloShapes/x64/Debug/HelloShapes.tlog/HelloShapes.lastbuildstate
M/VGP242/HelloShapes/x64/Debug/HelloShapes.tlog/link.command.1.tlog
M/VGP242/HelloShapes/x64/Debug/HelloShapes.tlog/link.read.1.tlog
M/VGP242/HelloShapes/x64/Debug/HelloShapes.tlog/link.write.1.tlog
M/VGP242/HelloShapes/x64/Debug/vc142.idb
M/VGP242/HelloShapes/x64/Debug/vc142.pdb
M/VGP330/08_HelloSimpleDraw/x64/Debug/08_Hello.e7b37822.tlog/08_HelloSimpleDraw.lastbuildstate
M/VGP330/08_HelloSimpleDraw/x64/Debug/08_Hello.e7b37822.tlog/CL.command.1.tlog
M/VGP330/08_HelloSimpleDraw/x64/Debug/08_Hello.e7b37822.tlog/CL.read.1.tlog
M/VGP330/08_HelloSimpleDraw/x64/Debug/08_Hello.e7b37822.tlog/CL.write.1.tlog
M/VGP330/08_HelloSimpleDraw/x64/Debug/08_Hello.e7b37822.tlog/link.command.1.tlog
M/VGP330/08_HelloSimpleDraw/x64/Debug/08_Hello.e7b37822.tlog/link.read.1.tlog
M/VGP330/08_HelloSimpleDraw/x64/Debug/08_Hello.e7b37822.tlog/link.write.1.tlog
M/VGP330/08_HelloSimpleDraw/x64/Debug/08_HelloSimpleDraw.exe.recipe
M/VGP330/08_HelloSimpleDraw/x64/Debug/08_HelloSimpleDraw.ilk
M/VGP330/08_HelloSimpleDraw/x64/Debug/08_HelloSimpleDraw.log
M/VGP330/08_HelloSimpleDraw/x64/Debug/vc142.idb
M/VGP330/08_HelloSimpleDraw/x64/Debug/vc142.pdb
